
<meta charset="utf-8"> 
<title>Null</title>
<nav class="navbar border-bottom navbar-expand-md navbar-dark bg-dark" style="height:63px;">
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- ye krne se direct brand name ka data agya now we can use it {{data.brandname}}-->
    <a class="navbar-brand" href="#">
    <img src={{data.brandiconurl}} width="30" height="30" alt="">
      TecHub</a>
    <button class="navbar-toggler" type="button" data-toggle="container" data-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
        </ul>
        <ul class="navbar-nav mr-right">
        {{#each data.links}}

            <li class="nav-item active">
                <a class="nav-link" href={{this.url}}>{{this.label}} </a>
        {{/each}}
        </ul>

        </div></nav>

